/* app css stylesheet */

@font-face {
	font-family: skyTextRegular;
	src: url(font/sky-text-regular.ttf);
}

body {
	font-family: skyTextRegular;
	background-image: url(images/Polaris.jpg);
}

md-slider-container {
	padding-bottom: 20px;
}

md-slider-container>:first-child:not(md-slider), md-slider-container>:last-child:not(md-slider) {
	max-width: none !important;
}

h1 {
	font-size: 80px;
	margin: 0;
}

md-toolbar {
	color: none;
}

.filmRowContainer {
	padding-right: 30px;
}

.leftFeeling {
	width: 50px;
	text-align: center;
}

.rightFeeling {
	width: 60px;
	text-align: center;
}

#container {
	width: 100%;
	height: 100%;
	background-size: cover;
	border-radius: 25%;
}

.heightRow {
	height: 80%;
}

.margin {
	margin: 10px;
}
.outline {
	border: 1px solid;
}

.logo-box {
	background-image: url(images/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.height {
	height: 100%;
}

.menu {
	list-style: none;
	margin-bottom: 2em;
	margin-top: 2em;
	padding: 0 0 0.5em;
	font-size: 17px;
}

.menu > li {
	display: inline;
}

.menu > li:nth-child(1){
	padding-right: 10px;
}

.menu > li:nth-child(3){
	padding-left: 10px;
}

.menu > li > a {
	text-decoration: none;
	color: #000;
}

@media screen and (max-height: 630px){
	md-slider-container {
		padding-bottom: 0px;
	}
}